/*----BodySettings----*/

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}

nav {
    justify-content: space-between;
}

/*----HeaderAssets----*/

.header {
    background-color: #ffffff;
    width: auto;
    height: 65px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.left-container {
    background-color: transparent;
    width: auto;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    background-color: transparent;
    width: auto;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.logo {
    width: 160px;
    height: auto;
    cursor: pointer;
}

.button-style-preorder {
    color: #00A2F1;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: none;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: auto;
    border: 1px solid #00A2F1;
    min-width: 50px;
    max-width: 250px;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border-radius: 4px;
    text-decoration: solid;
    transition: all 100ms linear;
}

.button-style-preorder:hover {
    color: #ffffff;
    background-color: #00A2F1;
    font-size: 15px;    
}

.nav-header-links {
    color: #000;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: auto;
    min-width: 10px;
    border: 0px;
    border-style: solid;
    border-color: #00A2F1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-left: 70px;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links-container {
    width: auto;
    padding: 3px;
    height: 65px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: auto;
    min-width: 10px;
    max-width: 250px;
    border: 0px;
    border-style: solid;
    border-color: #00A2F1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms linear;
}

.nav-links-container:hover {
    padding-bottom: 10px;
}

.nav-l-img {
    width: 30px;
    height: auto;
    margin-left: 7px;
}

@media screen and (max-width: 910px) {
    .nav-links-container {
        display: none;
    }
    .nav-links-container-menu{
        visibility: visible
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*----BodyContent----*/

#section1-container {
    background-color: #000;
    width: 100%;
    height: auto;
    min-height: 70px;
    max-height: 650px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 0;
    position: fixed;
}

#s1-span {
    color: #ffffff;
    font-size: 14.6px;
    text-transform: none;
    text-decoration: none;
}

#close-cookie-notie {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 50ms linear;
}

#close-cookie-notie:hover {
    rotate: 10deg;
}

.loader_bg {
    position: fixed;
    margin-left: -8px;
    background-color: #00000040;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 0 soild transparent;
    border-radius: 50%;
    width: 100px;
    height: auto;
    position: absolute;
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #00A2F1;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
 
.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.nav-links-container-menu {
    width: auto;
    padding: 3px;
    height: 65px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: auto;
    min-width: 10px;
    max-width: 250px;
    border: 0px;
    border-style: solid;
    border-color: #00A2F1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    text-decoration: none;
    cursor: pointer;
    transition: all 100ms linear;
    display: none;
}

.nav-links-container-menu:hover {
    padding-bottom: 10px;
}

.section2-container {
    background-color: rgb(63, 0, 63);
    width: 100% auto;
    height: auto;
    min-height: 200px;
    max-height: 650px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    margin-right: -8px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.s2-inner-container {
    width: auto;
    height: auto;
    width: 100% auto;
}

.s2-heading {
    color: #ffffff;
    font-size: 36px;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 40px;
}

.button-s2-container {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: #00A2F1;
    font-weight: 450;
    border-radius: 4px;
    font-style: normal;
    text-transform: uppercase;
    border: 1px solid #00A2F1;
    width: auto;
    min-width: 60px;
    max-width: 250px;
    height: 40px;
    cursor: pointer;
    transition: all 100ms linear;
}

.button-s2-container:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00A2F1;
    color: #ffffff;
    font-weight: 450;
    border-radius: 4px;
    font-style: normal;
    text-transform: uppercase;
    border: 0px solid #00A2F1;
    width: auto;
    min-width: 60px;
    max-width: 250px;
    height: 40px;
    cursor: pointer;
}

.video-container {
    width: auto 100%;
    height: auto;
    min-height: 300px;
    max-height: 600px;
    margin-left: -8px;
    margin-right: -8px;
}

.b-video {
    width: auto 100%;
    height: inherit;
}